.nisbutton-small {
	position: relative;
	min-width: 215px;
	margin: 5px 3px;
	padding: 3px 1rem;
	border: solid 1px rgba(136 146 152 / 75%);
	border-radius: 4px;
	box-shadow: inset 1px 1px rgb(96 107 111 / 100%);
	background-color: #0d2d3d;
	background-image: url('../../../NIS/images/button_small.png');
	font-size: 12px;
	font-weight: 300;
	color: #abcdddfa;
    text-align: center;
	overflow: hidden;
	cursor: pointer;
	background-repeat: repeat-x;
}

.nisbutton-small::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	display: block;
	width: calc(100% - 2px);
	height: calc(100% - 3px);
	border: solid 1px rgb(24 27 27 / 90%);
	border-radius: 5px;
	border-bottom-width: 2px;
	border-bottom-color: rgb(0 0 0 / 70%);
	opacity: 1;
}

.nisbutton-small::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, rgb(255 255 255.15) 10%, #0d2d3d);
	opacity: .1;
}

.nisbutton-small:hover {
	color: #ffffffe8;
}

.nisbutton-small:hover::after {
	background-image: linear-gradient(to bottom, rgb(87 175 223 / 93.8%) 75%, #284351);
	opacity: .2;
}
