#Settings input[type="range"] {
   -webkit-appearance: none;
    appearance: none;
	position: relative;
	height: 8px;
	border: solid 1px #697479;
	border-radius: 3px;
	transition: background 450ms ease-in;
    cursor: pointer;
}

#Settings input[type="range"]::before {
	content: '';
	position: absolute;
	top: auto;
	bottom: -3px;
	left: 50%;
	z-index: 5;
	display: block;
	width: calc(100% - 6px);
	height: 1px;
	background-color: #3e5765;
    transform: translate(-50%);
}

#Settings input[type="range"]::after {
	content: '';
	position: absolute;
	top: 1px;
	bottom: auto;
	left: 50%;
	z-index: 2;
	display: block;
	width: calc(100% - 1px);
	height: 2px;
	box-shadow: 0 19px 0 #09141b;
	background-color: #09141b;
    transform: translate(-50%);
}

#Settings input[type="range"]:focus {
  outline: none;
}

#Settings input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
   appearance: none;
   position: relative;
   z-index: 6;
   width: 9px;
   height: 20px;
   background-image: url('../../../NIS/images/range-input-tab.png');
   background-position: 50% 50%;
   background-repeat: no-repeat;
}

#Settings .flex-between-middle {
	display: flex;
	align-items: center;
	justify-content: space-between
}

#Settings .flex-between-center:has(input[type="range"]),
#Settings output {
	margin-top: 5px;
}

#Settings .minus-btn {
	width: 16px;
	height: 16px;
	margin-top: 2px;
	background-image: url('../../../NIS/images/nis-range-minus.png');
	background-position: 0 0;
}

#Settings .plus-btn {
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-right: 5px;
	background-image: url('../../../NIS/images/nis-range-plus.png');
	background-position: 0 0;
}

#Settings .minus-btn:hover,
#Settings .plus-btn:hover {
	cursor: pointer;
	background-position: 16px 0;
}
